body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color: #195854;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main{
    margin: 10px;
}

nav {
    background-color: #444;
    padding: 10px;
    height: 30px;
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  
}
nav li{
    float: left;
    display: inline;

    
}
nav  a{
    display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
nav li  a:hover{
    background-color: #111;
    
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}
div.polaroid {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
